
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&family=Poppins:wght@200;400&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&family=Poppins:wght@200;400&family=Source+Code+Pro:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
}
  .sidebar{
    position: absolute;
    background-color: #526579;
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    transition: transform 0.3s ease-in;
}
.sidebarGo{
    transform: translate(-443px, 0px);
    position: absolute; 
}
.sidebar nav{
    padding: 45px;
}
.sidebar nav li {
    list-style: none;
    font-size: 20px;
    padding: 33px 0;
}
.sidebar nav li a {
    text-decoration: none;
    color: black;
}
.main{
    /* background-color: yellow; */
    width: 85vw;
    height: 100vh;
}
.container {
    display: flex;
}
.infoContainer{
    /*background-color: rgb(228, 155, 155);*/
    height: 58vh;
    width: 80vw;
    margin: 144px auto;
    display: flex;
    justify-content: space-around;
}
.devInfo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Source Code Pro', monospace;
}
.hello{
    font-size: 40px;
}
.name{
    font-size: 50px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}
#element {
    color: #205d9b;
    font-size: 22px;
    font-weight: bolder;
  }
.about{
    font-size: 40px;
}
.moreAbout{
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    margin-top: 10px;
}
.buttons{
    margin-top: 10px;
}
 .buttons button {
    padding: 9px 14px;
    border-radius: 20px;
    color: white;
    background-color: #133c64;
    font-size: 12px;
    margin: 0 3px;
    cursor: pointer;
    width: 110px;
    font-weight: bold;
}
.buttons button:hover{
    background-color: white;
    color: dodgerblue;
}
.devPic img{
    height: 50vh;
}
.contactform {
    font-family: 'Poppins', sans-serif;
    padding: 30px 35px;
}
.contactform h1{
    font-family: 'Source Code Pro', monospace;
    margin-left: 2px;
}
.contactform form div{
    padding: 10px 0;
    display: flex;
    flex-direction: column;
}
.contactform form div input{
    width: 26vw;
    border-radius: 5px;
    margin: 6px 0 0 0;
    padding: 3px;
}  
#emailHelp{
    font-size: 12px;
    color: midnightblue;
    margin: 0 5px;
}
#form-check {
    flex-direction: row;
}
#form-check input{
    width: 27px;
    margin: 3px 0;
}
.blogContainer h1{
    margin: 20px;
}
.blogItems{
    padding: 20px;
} 
.blogItems h2{
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}
.blogItems p {
    font-family: 'Source Code Pro', monospace;
}
.devInfo {
    padding-top: 0;
}
.Intro h2 {
    font-family: 'Poppins', sans-serif;
    margin-left: 55px;
    margin-top: 35px;
}
.Intro p {
    font-family: 'Source Code Pro', monospace;
    margin-left: 55px;
    margin-top: 35px;
}
.skillContainer{
    padding: 12px;
    margin: auto;
}
.skillItem{
    margin-left: 55px;
    display: flex;
    align-items: center;
}
.skill{
    width: 265px;
    height: 10px;
    background-color: red;
    border: 2px solid black;
}
.hundered{
    width: 250px;
    background-color: blue;
}
.seventyfive{
    width: 187.5px;
    background-color: blueviolet;
}
.fifty{
    width: 125px;
    background-color: brown;
}
.secondSection {
    max-width: 80vw;
    margin: auto;
    height: 8;
  }
.text-gray{
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
  }
.secondSection h1 {
    font-size: 1.9rem;
    margin: 10px;
  }
.secondSection .box {
    width: 80vw;
    height: 2px;
    margin-left: 0 70px;
    display: flex;
    background-color: black;
  }
.secondSection .vertical {
    height: 75px;
    width: 1px;
    background-color: black;
    margin: 0 180px;
  }
.image-top {
    width: 23px;
    position: relative;
    top: -32px;
    left: -9px;
  }
.vertical-title {
    position: relative;
    top: 75px;
    width: 150px;
    font-size: 16px;
    font-weight: bold;
  }
.vertical-desc {
    position: relative;
    top: 80px;
    width: 150px;
    font-size: 12px;
  }
.devpic {
    display: none; }
.buttons{
    font-size: 6px;
}
.devInfo{
    font-size: 10px;
}
.intro, .blogContainer, .contactform{
    margin: 50px 8px;
}

.hamburger{
    cursor: pointer;
    position: absolute;
    top: 10px;
    left: 10px;
}
.hamb {
    width: 23px;
    margin-top: 5px;
}
.cross {
    width: 23px;
    margin-left: 140px;
    margin-top: 5px;
}
.footer {
    background-color: rgb(125, 128, 126);
    height: 140px;
    display: flex;
    justify-content: space-evenly;
  }
  .footer ul {
    list-style: none;
  }
  .footer ul li {
    padding: 2px;
  }
  .footer > div {
    width: 223px;
    margin: 25px 70px;
    font-size: 18px;
    color: rgb(8, 8, 8);

  }
  .footer-rights {
    text-align: center;
    display: flex;
    flex-direction: row;
    padding: 60px 0;
    width: 250px;
  }


